[submodule "externals/MonoGame"]
	path = externals/MonoGame
	url = https://github.com/dmanning23/MonoGame.git
[submodule "externals/GameTimer"]
	path = externals/GameTimer
	url = https://github.com/dmanning23/GameTimer.git
